:root {
    --background: #181818;
    --surface-1: #212121;
    --surface-2: #3d3d3d;
    --primary: #0D7377;
    --secondary: #00D7A7;
    --text: #FFFFFF;
}

@font-face {
    font-family: "Roboto";
    src: url("./Assets/fonts/Roboto-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    font-family: "Roboto";
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}

.root {
    display: flex;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 100%;
    height: 100%;
}

button {
    display: inline-flex;
    color: var(--background);
    background-color: var(--primary);
    width: 8em;
    display: flex;
    padding: 1em 2em;
    border: none;
    border-radius: 0.25em;
    justify-content: center;
    align-items: center;
}

button:active {
    filter: brightness(0.8);
}

button:disabled {
    background-color: var(--surface-1);
}

#search-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: stretch;
    max-width: 100%;
}

#search-container > * > button {
    background-color: var(--secondary);
}

#search-container > div {
    display: flex;
    flex-direction: row;
    height: fit-content;
    justify-content: flex-start;
    padding: 0.25em;
}

#search-container > div > * {
    margin: 0 0.25em 0 0.25em;
}

#search-container > .language > select {
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 0.5em 1em;
    border: none;
    color: var(--background);
    text-decoration: none;
    justify-content: center;
    border-radius: 0.125em;
}

select {
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 0.5em 1em;
    border: none;
    color: var(--background);
    text-decoration: none;
    justify-content: center;
    border-radius: 0.125em;
}

select option {
    color: var(--background);
}


#search-container > .language > select option {
    color: var(--background);
}

#search-container > .date {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#search-container > .date > input {
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 0.5em 1em;
    border: none;
    color: var(--background);
    text-decoration: none;
    justify-content: center;
    border-radius: 0.125em;
}

#events-container {
    display: grid;
    grid-template-columns: 1fr minmax(1em 1fr);
    grid-template-rows: fit-content(33%) 1fr fit-content(33%);
    padding: 0.25em;
    gap: 0.25em;
    height: 100%;
    max-width: 100%;
}

#event-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0.25em;
    width: 100%;
    gap: 0.25em;
    color: var(--text);
}

#event-list > li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 14em;
    padding: 0.25em;
    background-color: var(--surface-1);
    box-shadow: 1px 1px 1px black;
    border: 1px solid black;
    width: 100%;
}

#event-list > li.is-working {
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    border: none;
    box-shadow: none;
    height: 100%;
}

#event-list > li > svg {
    max-height: 12em;
}

#event-list > li > span {
    margin: 0 0.5em 0 0.5em;
}

#event-list > li > img {
    max-height: 100%;
    max-width: 32%;
    display: inline-block;
    outline: 1px solid black;
    filter: brightness(0.9) contrast(1.1);
    box-shadow: 1px 1px 1px black;
    margin: 0 1em 0 auto;
}

#navigation-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}

#navigation-container > * {
    width: 7em;
    margin: 0 0.25em 0 0.25em;
}

#navigation-container > span {
    display: flex;
    justify-content: center;
}

#is-working-circle {
    animation: rotation 2s infinite linear;
    transform-origin: 50% 50%;
    filter: brightness(0.9);
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.event-details {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    height: fit-content;
    padding: 0 1em 0 1em;
    color: var(--text);
}

.event-details > div {
    display: flex;
}

.event-details > .event-description {
    flex-direction: column;
    margin: 0.5em 0 0.5em 0;
}

.event-details > .event-description > * {
    margin-top: 0.125em;
    margin-bottom: 0.125em;
    padding: 0.125em;
}

.event-details > .event-description > ul {
    margin: 0 0 0 1em;
}

.event-details > .event-place {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    margin: 0.5em 0 0.5em 0;
    padding: 0.5em 0 0.5em 0;
    gap: 1em;
}

.event-details > .event-place > .event-place-information {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 100%;
    height: fit-content;
    max-height: 10em;
    gap: 0.125em;
}

.event-details > .event-place > .event-place-information > div {
    height: fit-content
}

.event-details > .event-place > .event-place-information > div > svg {
    margin-right: 0.25em;
}

.event-details > .event-place > .event-place-image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: 25em;
    width: 37.5em;
    padding: 0;
    margin: 0;
}

.event-details > .event-place > .event-place-image-container > img {
    height: 100%;
    object-fit: contain;
    object-position: left;
    filter: brightness(0.9) contrast(1.1);
    outline: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

.event-details > .event-details-images {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20em;
    margin: 0.5em 0 0.5em 0;
}

.event-details > .event-details-images > img {
    outline: 1px solid black;
    transition: transform 0.25s ease;
    height: 100%;
    transform-origin: left bottom;
    filter: brightness(0.9) contrast(1.1);
    box-shadow: 1px 1px 1px black;
}

.event-details > button {
    position: fixed;
    background-color: var(--secondary);
    right: 1em;
    bottom: 0.5em;
    font-size: 1.25em;
    z-index: 20;
    outline: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

.event-details > .event {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.event-offers {
    flex-direction: column;
    align-items: flex-start;
    margin: 0.5em 0 0.5em 0;
}

.offer {
    flex-direction: row;
}

.event-details-external-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    gap: 1em;
    margin: 0.5em 0 0.5em 0;
}

.event-details-external-links > div {
    width: 5em;
    height: 5em;
}

.event-details-external-links > div > a {
    width: 100%;
    height: 100%;
}

.event-details-external-links > div > a:active, a:focus {
    outline: none;
    border: none;
}

.event-details-external-links > div > a > svg {
    height: 100%;
    width: 100%;
    filter: brightness(0) saturate(100%) invert(68%) sepia(39%) saturate(6115%) hue-rotate(127deg) brightness(103%) contrast(103%);
}

span {
    margin: 0 0.125em 0 0.125em;
}

.text-input-container > input {
    color: var(--background);
}

label {
    display: inline-flex;
    align-items: center;
    color: var(--text);
}

.event-place-information > * > svg {
    filter: brightness(0) saturate(100%) invert(68%) sepia(39%) saturate(6115%) hue-rotate(127deg) brightness(103%) contrast(103%);
    width: 1em;
    height: 1em;
}

.event-place-information > div {
    display: flex;
    flex-direction: row;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    height: 3em;
}

.event-place-information > .address > svg {
    width: 2em;
    height: 2em;
}

.event-place-information > .phone > svg {
    width: 2em;
}

.event-place-information > .email > svg {
    width: 2em;
}

.event-place-information > .link > svg {
    width: 2em;
}

.event-place > .map-container {
    height: 25em;
    width: 37.5em;
    max-width: 100%;
    outline: 1px solid black;
    box-shadow: 1px 1px 1px black;
}

#map {
    height: 100%;
    filter: brightness(0.9) contrast(1.1);
}

.search-container > .topics {
    color: var(--background);
}

@media only screen and (min-width: 600px) {
    .event-details > .event-details-images > img:hover {
        transform: scale(1.5);
    }

    .event-details > button {
        position: fixed;
        background-color: var(--secondary);
        right: 2em;
        bottom: 1em;
        font-size: 1.5em;
    }

    .event-details > .event-place {
        margin-bottom: 0;
    }
}